@import './base.css';

body {
  background-color: var(--second-purple);
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;

  h1,h2 {
    color: var(--pure-white);
  }

  h1 {
    margin: 10px 0 0 0;
  }

  h2 {
    margin: 2px 0 25px;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
} */
